NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_FORMSUBMIT_EMAIL=
NEXT_PUBLIC_COMPANY_ADDRESS=
NEXT_PUBLIC_COMPANY_HOURS=
NEXT_PUBLIC_MAP_LABEL=
NEXT_PUBLIC_MAP_CITY=
NEXT_PUBLIC_MAP_LATITUDE=
NEXT_PUBLIC_MAP_LONGITUDE=
NEXT_PUBLIC_MAP_ZOOM=
